*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.s2_popular_des{
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    background-color: rgb(250,250,250);
    padding-top: 19vh;
    padding-bottom: 19vh;
}

.s2_popular_des_title{
    font-size: 32px;
    padding-bottom:25px ;
}

.s2_popular_des_para{
    padding-left: 25%;
    padding-right: 25%;
}

/* ---------------- flipbox ---------------- */

.s2_picture_container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    font-family: 'Quicksand', sans-serif;
    margin-top: 15vh;
}

.s2_imgtext{
    color: black;
    margin-bottom: 5px;
}

.s2_picture_container img{
    /* max-width: 100%;
    max-height: 100%; */
    height: 100%;
    width: 100%;
}

.s2_flip-box {
    background-color: transparent;
    width: auto;
    height: 250px;
    perspective: 1000px;
  }
  
  .s2_flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .s2_flip-box:hover .s2_flip-box-inner {
    transform: rotateX(180deg);
  }
  
  .s2_flip-box-front, .s2_flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  
  .s2_flip-box-front {
    background-color: #bbb;
    color: black;
  }
  
  .s2_flip-box-back {
    background-color: rgb(255, 255, 255);
    color: white;
    transform: rotateX(180deg);
    padding-top: 15vh;
  }

  .s2_checked{
      color: orange;
  }

  .s2_starblock{
      display: flex;
      justify-content: center;
  }
  .s2_starblock > p{
      padding-left: 10px;
  }


  .s2_blog{
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    padding-top: 19vh;
    padding-bottom: 15vh;
  }

  .s2_blog_content{ 
      display: grid;
      grid-template-columns: 1fr 1fr;
      font-family: 'Quicksand', sans-serif;
      padding-bottom: 8%;
  }

  .s2_left_img > img{
      height: 100%;
      width: 100%;
  }

  .s2_left_img{
      padding-left: 5vw;
  }

  .s2_right_particular{
      display: flex;
      margin-top: 10%;
  }

  .s2_right_content img{
      border-radius: 50%;
  }

  .s2_right_content{
      padding-left: 12%;
  }

  .s2_img_right_content{
      padding-left: 3%;
      padding-right: 25%;
  }

  .s2_blog_content h2{
      font-weight:600;
      color: rgb(56, 53, 53);
  }

  .s2_blog_content p{
    font-size: 14px;
  }

   .s2_act{
       margin-top: 5%;
   }
  

   .s2_sale_container{
        background-image:  linear-gradient(rgba(0, 0,0, 0.5),rgba(0, 0, 0, 0.5)), url('https://images.unsplash.com/photo-1516616370751-86d6bd8b0651?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80');
      
        height: 80vh;
      
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
   }

   .s2_45poff{
       display: flex;
       flex-direction: row;
   }

   .s2_percent_block{
    font-family: 'Quicksand', sans-serif;
    line-height: 32px;
    position: relative;
    left: 5%;
    top: 30%;
   }

   .s2_percent_block h1{
       padding-top: 25px;
       font-size: 90px;
       font-weight: bold;
       letter-spacing: -2px;
   }

   .s2_poff{
    padding-top: 15px;
    font-weight: bold;
    font-size: 50px;
   }

   .s2_45 ,.s2_per{
      color: rgb(255,221,0);
   }

   .s2_sale, .s2_off{
       color: white;
   }

   .s2_offer_block{
       position: relative;
       left: 7%;
       top: 30%;
       padding-right: 56%;
       font-family: 'Quicksand', sans-serif;
       color: white;
   }

   .s2_offertitle{
       font-size: 25px;
       /* font-weight: 600; */
       padding-bottom: 15px;
   }

   .s2_offerbook_btn{
       height: 38px;
       width: 32%;
       font-size: 15px;
       border-radius: 25px;
       border-style: none;
       background-color: rgb(255,221,0);
       cursor: pointer;
   }

   .s2_offerread_btn{
    height: 38px;
    width: 32%;
    font-size: 15px;
    border-radius: 25px;
    border: 1px solid white;
    background: transparent;
    color: white;
    cursor: pointer;
    margin-left: 5px;
   }

   .s2_offer_btns{
       padding-top: 12%;
   }

  /* --------------------------------------------- */


@media screen and (max-width: 760px){
    .s2_popular_des_para{
        padding-left: 5%;
        padding-right: 5%;
    }

    .s2_picture_container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        /* font-family: 'Quicksand', sans-serif; */
        margin-top: 15vh;
    }

    .s2_flip-box {
        background-color: transparent;
        width: auto;
        height: 250px;
    }

    .s2_left_img{
          display: none;
    }

    .s2_blog_content{ 
        display: grid;
        grid-template-columns: 1fr;
        font-family: 'Quicksand', sans-serif;
    }

    .s2_right_content{
        padding-left: 20%;
    }
}


/* ---------------------------------------------------- */


@media screen and (max-width: 420px){

    .s2_picture_container{
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 15vh;
    }

    .s2_left_img{
        display: none;
    }

    .s2_blog_content{ 
      display: grid;
      grid-template-columns: 1fr;
      font-family: 'Quicksand', sans-serif;
    }

    .s2_right_content{
      padding-left: 10%;
    }

    .s2_img_right_content{
    padding-left: 3%;
    padding-right: 5%;
    }


}